<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="hfd-driver.ZPM">
    <Module>
      <Name>hfd-driver</Name>
      <Description>Main application for waveform data</Description>
      <Version>0.1.0</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="HFD.Feeder.PKG" Directory="cls" />
      <SystemRequirements Version=">=2020.1" Interoperability="enabled" Health="true" />
      <Invoke Class="Ens.Director" Method="SetAutoStart">
         <Arg>HFD.Feeder.Production</Arg>
         <Arg>0</Arg>
      </Invoke>
    </Module>
  </Document>
</Export>